Repository markmetcalfe/markmetcalfe.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "**/*.{js,json,ts,vue,jsx,tsx}": ["prettier --write"],
  "**/*.{js,ts,vue,jsx,tsx}": ["eslint --fix"],
  "src/**/*.vue": ["stylelint --fix"]
}

Remove minecraft page
  src/pages/MinecraftPage.vue
  src/routes.ts
  tests/e2e/MinecraftPage.spec.ts
  tests/e2e/MinecraftPage.spec.ts-snapshots/MinecraftPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/MinecraftPage.spec.ts-snapshots/MinecraftPage-matches-snapshot-1-Mobile-Safari-darwin.png
Due: prettier --write, eslint --fix, stylelint --fix

Remove GA tag
  index.html
Due: none

Fix typescript version
  package.json
  pnpm-lock.yaml
Due: prettier --write

Fix intermittent failing demo page test
  src/stores/renderer-settings.ts
  tests/e2e/DemoPage.spec.ts-snapshots/DemoPage-can-open-geometry-definitions-dialog-and-it-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/DemoPage.spec.ts-snapshots/DemoPage-can-open-geometry-definitions-dialog-and-it-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/DemoPage.spec.ts-snapshots/DemoPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/DemoPage.spec.ts-snapshots/DemoPage-matches-snapshot-1-Mobile-Safari-darwin.png
Due: prettier --write, eslint --fix

Seperate lint and playwright test steps in CI workflow
  .github/workflows/playwright.yml
  .github/workflows/tests.yml
  package.json
Due: prettier --write

Fix pnpm lock
  pnpm-lock.yaml
Due: none

Fix playwright CI job
  .github/workflows/tests.yml
Due: none

Remove renovate major version grouping
  renovate.json
Due: prettier --write

Update renovate package grouping
  renovate.json
Due: prettier --write

Use chromatic for running playwright tests
  .github/workflows/tests.yml
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  tests/e2e/BusinessCardPage.spec.ts
  tests/e2e/BusinessCardPage.spec.ts-snapshots/BusinessCardPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/BusinessCardPage.spec.ts-snapshots/BusinessCardPage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/ContactPage.spec.ts
  tests/e2e/ContactPage.spec.ts-snapshots/ContactPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/ContactPage.spec.ts-snapshots/ContactPage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/DemoPage.spec.ts
  tests/e2e/DemoPage.spec.ts-snapshots/DemoPage-can-open-geometry-definitions-dialog-and-it-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/DemoPage.spec.ts-snapshots/DemoPage-can-open-geometry-definitions-dialog-and-it-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/DemoPage.spec.ts-snapshots/DemoPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/DemoPage.spec.ts-snapshots/DemoPage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/HomePage.spec.ts
  tests/e2e/HomePage.spec.ts-snapshots/HomePage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/HomePage.spec.ts-snapshots/HomePage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/NotFoundPage.spec.ts
  tests/e2e/NotFoundPage.spec.ts-snapshots/NotFoundPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/NotFoundPage.spec.ts-snapshots/NotFoundPage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/PortfolioPage.spec.ts
  tests/e2e/PortfolioPage.spec.ts-snapshots/PortfolioPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/PortfolioPage.spec.ts-snapshots/PortfolioPage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/PrivacyPolicyPage.spec.ts
  tests/e2e/PrivacyPolicyPage.spec.ts-snapshots/PrivacyPolicyPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/PrivacyPolicyPage.spec.ts-snapshots/PrivacyPolicyPage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/ServerErrorPage.spec.ts
  tests/e2e/ServerErrorPage.spec.ts-snapshots/ServerErrorPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/ServerErrorPage.spec.ts-snapshots/ServerErrorPage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/TermsOfServicePage.spec.ts
  tests/e2e/TermsOfServicePage.spec.ts-snapshots/TermsOfServicePage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/TermsOfServicePage.spec.ts-snapshots/TermsOfServicePage-matches-snapshot-1-Mobile-Safari-darwin.png
Due: prettier --write, eslint --fix

Add more playwright test devices
  playwright.config.ts
Due: prettier --write, eslint --fix

Add 1s wait in test
  tests/e2e/PortfolioPage.spec.ts
Due: prettier --write, eslint --fix

Render 3D background in playwright tests
  src/components/DynamicBackground.vue
Due: prettier --write, eslint --fix, stylelint --fix

Set chromatic config json
  chromatic.config.json
Due: prettier --write

Extend test workflow timeout
  .github/workflows/tests.yml
Due: none

Remove playwright devices
  playwright.config.ts
Due: prettier --write, eslint --fix

Add network status check page
  src/App.vue
  src/components/LoadingSpinner.vue
  src/pages/NetworkStatusPage.vue
  src/routes.ts
  tests/e2e/NetworkStatusPage.spec.ts
Due: prettier --write, eslint --fix, stylelint --fix

Remove debug statement
  src/stores/renderer-settings.ts
Due: prettier --write, eslint --fix

Ensure min and max demo values don't overflow
  src/pages/DemoPage.vue
  src/stores/renderer-settings.ts
Due: prettier --write, eslint --fix, stylelint --fix

Add ability to randomise geometry
  src/3d/renderer.ts
  src/App.vue
  src/components/DynamicBackground.vue
  src/components/GeometryConfig.vue
  src/icons.ts
  src/pages/DemoPage.vue
  src/pages/HomePage.vue
  src/stores/renderer-settings.ts
Due: prettier --write, eslint --fix, stylelint --fix

Fix problematic tests
  tests/e2e/ContactPage.spec.ts
  tests/e2e/PortfolioPage.spec.ts
Due: prettier --write, eslint --fix

Update CI to run on all branches
  .github/workflows/codeql-analysis.yml
  .github/workflows/tests.yml
  chromatic.config.json
Due: prettier --write

Move UI elements around on demo page
  src/components/GeometryConfig.vue
  src/icons.ts
  src/pages/DemoPage.vue
  tests/e2e/DemoPage.spec.ts
Due: prettier --write, eslint --fix, stylelint --fix

Fix edit shapes saving
  src/3d/renderer.ts
  src/components/GeometryConfig.vue
  src/stores/renderer-settings.ts
  tests/e2e/DemoPage.spec.ts
Due: prettier --write, eslint --fix, stylelint --fix
