Repository markmetcalfe/markmetcalfe.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "**/*.{js,json,ts,vue,jsx,tsx}": ["prettier --write"],
  "**/*.{js,ts,vue,jsx,tsx}": ["eslint --fix"],
  "src/**/*.vue": ["stylelint --fix"]
}

Add ability to randomise geometry
  src/3d/renderer.ts
  src/App.vue
  src/components/DynamicBackground.vue
  src/components/GeometryConfig.vue
  src/icons.ts
  src/pages/DemoPage.vue
  src/pages/HomePage.vue
  src/stores/renderer-settings.ts
Due: prettier --write, eslint --fix, stylelint --fix

Update CI to run on all branches
  .github/workflows/codeql-analysis.yml
  .github/workflows/tests.yml
  chromatic.config.json
Due: prettier --write

Fix edit shapes saving
  src/3d/renderer.ts
  src/components/GeometryConfig.vue
  src/stores/renderer-settings.ts
  tests/e2e/DemoPage.spec.ts
Due: prettier --write, eslint --fix, stylelint --fix

Ensure min and max demo values don't overflow
  src/pages/DemoPage.vue
  src/stores/renderer-settings.ts
Due: prettier --write, eslint --fix, stylelint --fix

Rearrange demo settings
  index.html
  src/3d/renderer.ts
  src/pages/DemoPage.vue
  src/stores/renderer-settings.ts
Due: prettier --write, eslint --fix, stylelint --fix

Fix randomisation bugs
  .eslintrc
  package.json
  pnpm-lock.yaml
  src/components/GeometryConfig.vue
  src/stores/renderer-settings.ts
  src/util/color.ts
  src/util/random.ts
Due: prettier --write, eslint --fix, stylelint --fix

Add separate x and y axis rotation controls
  src/3d/geometry.ts
  src/components/GeometryConfig.vue
  src/pages/DemoPage.vue
  src/stores/renderer-settings.ts
  src/util/random.ts
Due: prettier --write, eslint --fix, stylelint --fix

Make geometry type handling more object oriented
  src/3d/geometry.ts
  src/components/GeometryConfig.vue
  src/stores/renderer-settings.ts
  src/util/random.ts
Due: prettier --write, eslint --fix, stylelint --fix

Add more geometry shapes
  src/3d/geometry.ts
Due: prettier --write, eslint --fix

Rename first name to Marko and domain to markometcalfe.com
  LICENSE
  README.md
  api/countries/.dev.vars.dist
  api/countries/src/index.ts
  api/countries/wrangler.jsonc
  api/doodle/wrangler.jsonc
  api/network-status/src/index.ts
  api/network-status/wrangler.jsonc
  api/play/.dev.vars.dist
  api/play/src/index.ts
  api/play/wrangler.jsonc
  api/resume/src/index.ts
  api/resume/wrangler.jsonc
  web/app.vue
  web/modules/countries/tests/e2e/country-guesser-multiplayer.spec.ts
  web/modules/doodle/tests/e2e/doodle.spec.ts
  web/modules/minecraft/pages/minecraft.vue
  web/modules/minecraft/tests/e2e/minecraft.spec.ts
  web/modules/network-status/tests/e2e/status.spec.ts
  web/modules/play/composables/usePlayPageMeta.ts
  web/modules/play/tests/e2e/lobby.spec.ts
  web/modules/pulsar/pages/pulsar/index.vue
  web/modules/resume/pages/resume.vue
  web/modules/resume/tests/e2e/resume.spec.ts
  web/modules/sequencer/pages/sequencer/index.vue
  web/modules/sequencer/pages/sequencer/synths.vue
  web/modules/sequencer/tests/e2e/sequencer-index.spec.ts
  web/modules/visuals/pages/visuals/index.vue
  web/modules/visuals/pages/visuals/shapes.vue
  web/modules/visuals/tests/e2e/visuals-index.spec.ts
  web/nuxt.config.ts
  web/pages/index.vue
  web/public/robots.txt
  web/tests/e2e/error.spec.ts
  web/tests/e2e/index.spec.ts
  web/tests/e2e/privacy-policy.spec.ts
  web/tests/e2e/terms-of-service.spec.ts
Due: prettier --write, eslint --fix

Apply oxfmt line wrapping after the rename
  web/modules/doodle/tests/e2e/doodle.spec.ts
  web/modules/network-status/tests/e2e/status.spec.ts
  web/modules/resume/tests/e2e/resume.spec.ts
  web/modules/sequencer/tests/e2e/sequencer-index.spec.ts
  web/modules/visuals/tests/e2e/visuals-index.spec.ts
  web/tests/e2e/privacy-policy.spec.ts
  web/tests/e2e/terms-of-service.spec.ts
Due: prettier --write, eslint --fix

Rename first name to Marko and domain to markometcalfe.com (#498)
  LICENSE
  README.md
  api/countries/.dev.vars.dist
  api/countries/src/index.ts
  api/countries/wrangler.jsonc
  api/doodle/wrangler.jsonc
  api/network-status/src/index.ts
  api/network-status/wrangler.jsonc
  api/play/.dev.vars.dist
  api/play/src/index.ts
  api/play/wrangler.jsonc
  api/resume/src/index.ts
  api/resume/wrangler.jsonc
  web/app.vue
  web/modules/countries/tests/e2e/country-guesser-multiplayer.spec.ts
  web/modules/doodle/tests/e2e/doodle.spec.ts
  web/modules/minecraft/pages/minecraft.vue
  web/modules/minecraft/tests/e2e/minecraft.spec.ts
  web/modules/network-status/tests/e2e/status.spec.ts
  web/modules/play/composables/usePlayPageMeta.ts
  web/modules/play/tests/e2e/lobby.spec.ts
  web/modules/pulsar/pages/pulsar/index.vue
  web/modules/resume/pages/resume.vue
  web/modules/resume/tests/e2e/resume.spec.ts
  web/modules/sequencer/pages/sequencer/index.vue
  web/modules/sequencer/pages/sequencer/synths.vue
  web/modules/sequencer/tests/e2e/sequencer-index.spec.ts
  web/modules/visuals/pages/visuals/index.vue
  web/modules/visuals/pages/visuals/shapes.vue
  web/modules/visuals/tests/e2e/visuals-index.spec.ts
  web/nuxt.config.ts
  web/pages/index.vue
  web/public/robots.txt
  web/tests/e2e/error.spec.ts
  web/tests/e2e/index.spec.ts
  web/tests/e2e/privacy-policy.spec.ts
  web/tests/e2e/terms-of-service.spec.ts
Due: prettier --write, eslint --fix
