Repository markmetcalfe/markmetcalfe.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

Lock file maintenance
  yarn.lock
Due: none

Update all major dependencies
  .github/workflows/deploy.yml
  .github/workflows/playwright.yml
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

Create dependabot.yml
  .github/dependabot.yml
Due: none

Delete renovate.json
  renovate.json
Due: prettier --write, eslint --fix

Create workflow for auto merging dependabot PRs
  .github/workflows/auto-merge.yml
Due: none

Update auto-merge.yml
  .github/workflows/auto-merge.yml
Due: none

Delete auto-merge.yml
  .github/workflows/auto-merge.yml
Due: none

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Exclude json files from eslint checks
  .lintstagedrc.json
Due: prettier --write, eslint --fix

Fix dependencies in package.json that were causing building to fail
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

Update yarn.lock
  yarn.lock
Due: none

Revert playwright back to 1.21.1
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

Remove amazon s3 deployment pipeline
  .github/workflows/deploy.yml
  README.md
Due: none

Add .nvmrc
  .nvmrc
Due: none

Update minecraft server map URL
  src/pages/MinecraftMapPage.vue
Due: prettier --write, eslint --fix, stylelint --fix

Revert "Update minecraft server map URL"
  src/pages/MinecraftMapPage.vue
Due: prettier --write, eslint --fix, stylelint --fix

Seperate playwright package from rest of renovate package rules
  renovate.json
Due: prettier --write, eslint --fix

Fix favicon sizing
  public/favicon.png
Due: none

Run prettier
  .github/workflows/codeql-analysis.yml
  .github/workflows/playwright.yml
  README.md
Due: none

Revert "Seperate playwright package from rest of renovate package rules"
  renovate.json
Due: prettier --write, eslint --fix

Add checks and fix scripts for prettier and eslint
  .prettierignore
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

Enforce stricter typing on vue router routes
  src/App.vue
  src/main.ts
  src/routes.ts
Due: prettier --write, eslint --fix, stylelint --fix

Make playwright snapshots more lenient
  playwright.config.ts
Due: prettier --write, eslint --fix

Fix build issues
  package.json
  vite.config.ts
  yarn.lock
Due: prettier --write, eslint --fix

Use single page for minecraft server map
  src/components/FloatingBackButton.vue
  src/pages/MinecraftMapPage.vue
  src/pages/MinecraftPage.vue
  src/routes.ts
  tests/e2e/MinecraftPage.spec.ts
  tests/e2e/MinecraftPage.spec.ts-snapshots/MinecraftPage-can-navigate-to-the-creative-map-page-and-back-1-Desktop-Chrome-darwin.png
  tests/e2e/MinecraftPage.spec.ts-snapshots/MinecraftPage-can-navigate-to-the-creative-map-page-and-back-1-Mobile-Safari-darwin.png
  tests/e2e/MinecraftPage.spec.ts-snapshots/MinecraftPage-can-navigate-to-the-survival-map-page-and-back-1-Desktop-Chrome-darwin.png
  tests/e2e/MinecraftPage.spec.ts-snapshots/MinecraftPage-can-navigate-to-the-survival-map-page-and-back-1-Mobile-Safari-darwin.png
  tests/e2e/MinecraftPage.spec.ts-snapshots/MinecraftPage-creative-map-link-hover-state-matches-snapshot-1-Desktop-Chrome-darwin.png
  tests/e2e/MinecraftPage.spec.ts-snapshots/MinecraftPage-creative-map-link-hover-state-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/MinecraftPage.spec.ts-snapshots/MinecraftPage-matches-snapshot-1-Desktop-Chrome-darwin.png
  tests/e2e/MinecraftPage.spec.ts-snapshots/MinecraftPage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/MinecraftPage.spec.ts-snapshots/MinecraftPage-survival-map-link-hover-state-matches-snapshot-1-Desktop-Chrome-darwin.png
  tests/e2e/MinecraftPage.spec.ts-snapshots/MinecraftPage-survival-map-link-hover-state-matches-snapshot-1-Mobile-Safari-darwin.png
Due: prettier --write, eslint --fix, stylelint --fix

Update minecraft server IP
  src/pages/MinecraftPage.vue
  tests/e2e/MinecraftPage.spec.ts-snapshots/MinecraftPage-matches-snapshot-1-Desktop-Chrome-darwin.png
  tests/e2e/MinecraftPage.spec.ts-snapshots/MinecraftPage-matches-snapshot-1-Mobile-Safari-darwin.png
Due: prettier --write, eslint --fix, stylelint --fix

Add business card page and social card image
  index.html
  public/social-card.jpg
  src/pages/BusinessCardPage.vue
  src/routes.ts
  tests/e2e/BusinessCardPage.spec.ts
  tests/e2e/BusinessCardPage.spec.ts-snapshots/BusinessCardPage-matches-snapshot-1-Desktop-Chrome-darwin.png
  tests/e2e/BusinessCardPage.spec.ts-snapshots/BusinessCardPage-matches-snapshot-1-Mobile-Safari-darwin.png
Due: prettier --write, eslint --fix, stylelint --fix

Use google and fontawesome CDNs for loading fonts for improved loading times
  index.html
  package.json
  src/main.ts
  yarn.lock
Due: prettier --write, eslint --fix

Use my real resume instead of a placeholder
  public/Mark-Metcalfe-Resume.pdf
  src/pages/HomePage.vue
  src/pages/ResumePage.vue
  src/routes.ts
  tests/e2e/HomePage.spec.ts
  tests/e2e/ResumePage.spec.ts
Due: prettier --write, eslint --fix, stylelint --fix

Path conditions:
  prettier --write: any of: **/*.{js,json,ts,vue,jsx,tsx}
  eslint --fix: any of: **/*.{js,json,ts,vue,jsx,tsx}
  stylelint --fix: any of: src/**/*.vue
