Repository markmetcalfe/markmetcalfe.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

Update resume
  public/Mark-Metcalfe-Resume.pdf
Due: none

Use inline fontawesome svg icons rather than loading from font cdn
  index.html
  package.json
  src/components/FloatingBackButton.vue
  src/components/HeaderBanner.vue
  src/components/LinkButton.vue
  src/components/PageCard.vue
  src/main.ts
  tests/e2e/BusinessCardPage.spec.ts-snapshots/BusinessCardPage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/ContactPage.spec.ts-snapshots/ContactPage-email-link-hover-state-matches-snapshot-1-Desktop-Chrome-darwin.png
  tests/e2e/ContactPage.spec.ts-snapshots/ContactPage-email-link-hover-state-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/ContactPage.spec.ts-snapshots/ContactPage-matches-snapshot-1-Desktop-Chrome-darwin.png
  tests/e2e/ContactPage.spec.ts-snapshots/ContactPage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/ContactPage.spec.ts-snapshots/ContactPage-messenger-link-hover-state-matches-snapshot-1-Desktop-Chrome-darwin.png
  tests/e2e/ContactPage.spec.ts-snapshots/ContactPage-messenger-link-hover-state-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/ContactPage.spec.ts-snapshots/ContactPage-phone-link-hover-state-matches-snapshot-1-Desktop-Chrome-darwin.png
  tests/e2e/ContactPage.spec.ts-snapshots/ContactPage-phone-link-hover-state-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/ContactPage.spec.ts-snapshots/ContactPage-whatsapp-link-hover-state-matches-snapshot-1-Desktop-Chrome-darwin.png
  tests/e2e/ContactPage.spec.ts-snapshots/ContactPage-whatsapp-link-hover-state-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/HomePage.spec.ts-snapshots/HomePage-contact-link-hover-state-matches-snapshot-1-Desktop-Chrome-darwin.png
  tests/e2e/HomePage.spec.ts-snapshots/HomePage-contact-link-hover-state-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/HomePage.spec.ts-snapshots/HomePage-github-link-hover-state-matches-snapshot-1-Desktop-Chrome-darwin.png
  tests/e2e/HomePage.spec.ts-snapshots/HomePage-github-link-hover-state-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/HomePage.spec.ts-snapshots/HomePage-linkedin-link-hover-state-matches-snapshot-1-Desktop-Chrome-darwin.png
  tests/e2e/HomePage.spec.ts-snapshots/HomePage-linkedin-link-hover-state-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/HomePage.spec.ts-snapshots/HomePage-matches-snapshot-1-Desktop-Chrome-darwin.png
  tests/e2e/HomePage.spec.ts-snapshots/HomePage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/HomePage.spec.ts-snapshots/HomePage-resume-link-hover-state-matches-snapshot-1-Desktop-Chrome-darwin.png
  tests/e2e/HomePage.spec.ts-snapshots/HomePage-resume-link-hover-state-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/NotFoundPage.spec.ts-snapshots/NotFoundPage-matches-snapshot-1-Desktop-Chrome-darwin.png
  tests/e2e/NotFoundPage.spec.ts-snapshots/NotFoundPage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/PrivacyPolicyPage.spec.ts-snapshots/PrivacyPolicyPage-matches-snapshot-1-Desktop-Chrome-darwin.png
  tests/e2e/PrivacyPolicyPage.spec.ts-snapshots/PrivacyPolicyPage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/ResumePage.spec.ts-snapshots/ResumePage-matches-snapshot-1-Desktop-Chrome-darwin.png
  tests/e2e/ResumePage.spec.ts-snapshots/ResumePage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/ServerErrorPage.spec.ts-snapshots/ServerErrorPage-matches-snapshot-1-Desktop-Chrome-darwin.png
  tests/e2e/ServerErrorPage.spec.ts-snapshots/ServerErrorPage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/TermsOfServicePage.spec.ts-snapshots/TermsOfServicePage-matches-snapshot-1-Desktop-Chrome-darwin.png
  tests/e2e/TermsOfServicePage.spec.ts-snapshots/TermsOfServicePage-matches-snapshot-1-Mobile-Safari-darwin.png
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

Manually update packages
  package.json
  yarn.lock
Due: prettier --write

Deduplicate packages
  yarn.lock
Due: none

Use firefox instead of chrome for desktop testing
  playwright.config.ts
  tests/e2e/BusinessCardPage.spec.ts-snapshots/BusinessCardPage-matches-snapshot-1-Desktop-Chrome-darwin.png
  tests/e2e/BusinessCardPage.spec.ts-snapshots/BusinessCardPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/ContactPage.spec.ts-snapshots/ContactPage-email-link-hover-state-matches-snapshot-1-Desktop-Chrome-darwin.png
  tests/e2e/ContactPage.spec.ts-snapshots/ContactPage-email-link-hover-state-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/ContactPage.spec.ts-snapshots/ContactPage-matches-snapshot-1-Desktop-Chrome-darwin.png
  tests/e2e/ContactPage.spec.ts-snapshots/ContactPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/ContactPage.spec.ts-snapshots/ContactPage-messenger-link-hover-state-matches-snapshot-1-Desktop-Chrome-darwin.png
  tests/e2e/ContactPage.spec.ts-snapshots/ContactPage-messenger-link-hover-state-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/ContactPage.spec.ts-snapshots/ContactPage-phone-link-hover-state-matches-snapshot-1-Desktop-Chrome-darwin.png
  tests/e2e/ContactPage.spec.ts-snapshots/ContactPage-phone-link-hover-state-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/ContactPage.spec.ts-snapshots/ContactPage-whatsapp-link-hover-state-matches-snapshot-1-Desktop-Chrome-darwin.png
  tests/e2e/ContactPage.spec.ts-snapshots/ContactPage-whatsapp-link-hover-state-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/HomePage.spec.ts-snapshots/HomePage-contact-link-hover-state-matches-snapshot-1-Desktop-Chrome-darwin.png
  tests/e2e/HomePage.spec.ts-snapshots/HomePage-contact-link-hover-state-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/HomePage.spec.ts-snapshots/HomePage-github-link-hover-state-matches-snapshot-1-Desktop-Chrome-darwin.png
  tests/e2e/HomePage.spec.ts-snapshots/HomePage-github-link-hover-state-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/HomePage.spec.ts-snapshots/HomePage-linkedin-link-hover-state-matches-snapshot-1-Desktop-Chrome-darwin.png
  tests/e2e/HomePage.spec.ts-snapshots/HomePage-linkedin-link-hover-state-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/HomePage.spec.ts-snapshots/HomePage-matches-snapshot-1-Desktop-Chrome-darwin.png
  tests/e2e/HomePage.spec.ts-snapshots/HomePage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/HomePage.spec.ts-snapshots/HomePage-resume-link-hover-state-matches-snapshot-1-Desktop-Chrome-darwin.png
  tests/e2e/HomePage.spec.ts-snapshots/HomePage-resume-link-hover-state-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/MinecraftPage.spec.ts-snapshots/MinecraftPage-matches-snapshot-1-Desktop-Chrome-darwin.png
  tests/e2e/MinecraftPage.spec.ts-snapshots/MinecraftPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/NotFoundPage.spec.ts-snapshots/NotFoundPage-matches-snapshot-1-Desktop-Chrome-darwin.png
  tests/e2e/NotFoundPage.spec.ts-snapshots/NotFoundPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/PrivacyPolicyPage.spec.ts-snapshots/PrivacyPolicyPage-matches-snapshot-1-Desktop-Chrome-darwin.png
  tests/e2e/PrivacyPolicyPage.spec.ts-snapshots/PrivacyPolicyPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/ServerErrorPage.spec.ts-snapshots/ServerErrorPage-matches-snapshot-1-Desktop-Chrome-darwin.png
  tests/e2e/ServerErrorPage.spec.ts-snapshots/ServerErrorPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/TermsOfServicePage.spec.ts-snapshots/TermsOfServicePage-matches-snapshot-1-Desktop-Chrome-darwin.png
  tests/e2e/TermsOfServicePage.spec.ts-snapshots/TermsOfServicePage-matches-snapshot-1-Desktop-Firefox-darwin.png
Due: prettier --write, eslint --fix

Update minecraft map iframe URL
  src/pages/MinecraftPage.vue
Due: prettier --write, eslint --fix, stylelint --fix

Use node 18
  .github/workflows/playwright.yml
  .nvmrc
Due: none

Remove problematic hover state playwright snapshot tests
  tests/e2e/ContactPage.spec.ts
  tests/e2e/ContactPage.spec.ts-snapshots/ContactPage-email-link-hover-state-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/ContactPage.spec.ts-snapshots/ContactPage-email-link-hover-state-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/ContactPage.spec.ts-snapshots/ContactPage-messenger-link-hover-state-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/ContactPage.spec.ts-snapshots/ContactPage-messenger-link-hover-state-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/ContactPage.spec.ts-snapshots/ContactPage-phone-link-hover-state-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/ContactPage.spec.ts-snapshots/ContactPage-phone-link-hover-state-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/ContactPage.spec.ts-snapshots/ContactPage-whatsapp-link-hover-state-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/ContactPage.spec.ts-snapshots/ContactPage-whatsapp-link-hover-state-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/HomePage.spec.ts
  tests/e2e/HomePage.spec.ts-snapshots/HomePage-contact-link-hover-state-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/HomePage.spec.ts-snapshots/HomePage-contact-link-hover-state-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/HomePage.spec.ts-snapshots/HomePage-github-link-hover-state-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/HomePage.spec.ts-snapshots/HomePage-github-link-hover-state-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/HomePage.spec.ts-snapshots/HomePage-linkedin-link-hover-state-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/HomePage.spec.ts-snapshots/HomePage-linkedin-link-hover-state-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/HomePage.spec.ts-snapshots/HomePage-resume-link-hover-state-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/HomePage.spec.ts-snapshots/HomePage-resume-link-hover-state-matches-snapshot-1-Mobile-Safari-darwin.png
Due: prettier --write, eslint --fix

Add tsc step to lintstaged
  .lintstagedrc.js
  .lintstagedrc.json
Due: prettier --write, eslint --fix

Remove unnecessary usages of 'await'
  tests/e2e/ContactPage.spec.ts
  tests/e2e/HomePage.spec.ts
  tests/e2e/NotFoundPage.spec.ts
  tests/e2e/PrivacyPolicyPage.spec.ts
  tests/e2e/ServerErrorPage.spec.ts
  tests/e2e/TermsOfServicePage.spec.ts
Due: prettier --write, eslint --fix

Replace deprecated 'waitForNavigation' playwright hooks
  tests/e2e/ContactPage.spec.ts
  tests/e2e/HomePage.spec.ts
  tests/e2e/NotFoundPage.spec.ts
  tests/e2e/PrivacyPolicyPage.spec.ts
  tests/e2e/ServerErrorPage.spec.ts
  tests/e2e/TermsOfServicePage.spec.ts
Due: prettier --write, eslint --fix

Use node 16
  .github/workflows/playwright.yml
  .nvmrc
Due: none

Disable updating node in renovate config
  renovate.json
Due: prettier --write

Skip problematic test
  tests/e2e/HomePage.spec.ts
Due: prettier --write, eslint --fix

Add three.js library
  package.json
  yarn.lock
Due: prettier --write

Resize renderer upon window resize
  src/3d/main.ts
Due: prettier --write, eslint --fix

Add play button onto profile image for navigating to 3D page
  src/main.ts
  src/pages/HomePage.vue
Due: prettier --write, eslint --fix, stylelint --fix

Add basic 3D page with rotating cube
  src/3d/main.ts
  src/pages/3DPage.vue
  src/routes.ts
Due: prettier --write, eslint --fix, stylelint --fix

Remove eslint unused var error rule
  .eslintrc
Due: none

Back button on 3D page
  src/App.vue
  src/pages/3DPage.vue
Due: prettier --write, eslint --fix, stylelint --fix

Increase number of shapes based on mouse clicks
  src/3d/main.ts
Due: prettier --write, eslint --fix

Cool trippy octahedron
  src/3d/main.ts
Due: prettier --write, eslint --fix

Update node version
  .nvmrc
Due: none

Update README
  README.md
Due: none

Update dependencies
  package.json
  yarn.lock
Due: prettier --write

Update yarn.lock
  yarn.lock
Due: none

Update playwright snapshots
  tests/e2e/HomePage.spec.ts-snapshots/HomePage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/TermsOfServicePage.spec.ts-snapshots/TermsOfServicePage-matches-snapshot-1-Mobile-Safari-darwin.png
Due: none

Remove stylelint prettier plugin
  .stylelintrc.json
  package.json
  yarn.lock
Due: prettier --write

Use master instead of main branch
  .github/workflows/codeql-analysis.yml
  .github/workflows/playwright.yml
  README.md
Due: none

Use pnpm instead of yarn
  .github/workflows/playwright.yml
  .gitignore
  .husky/pre-commit
  README.md
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  yarn.lock
Due: prettier --write, eslint --fix

Run prettier
  index.html
  src/components/LinkButton.vue
Due: prettier --write, eslint --fix, stylelint --fix

3D: Add zoom in and zoom out
  src/3d/main.ts
Due: prettier --write, eslint --fix

Change background video upon mouse click
  src/components/DynamicBackground.vue
Due: prettier --write, eslint --fix, stylelint --fix

Path conditions:
  prettier --write: any of: **/*.{js,json,ts,vue,jsx,tsx}
  eslint --fix: any of: **/*.{js,ts,vue,jsx,tsx}
  stylelint --fix: any of: src/**/*.vue
