Repository markmetcalfe/markmetcalfe.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

Rename 'master' references to 'main'
  .github/workflows/deploy.yml
  .github/workflows/playwright.yml
  README.md
Due: none

Update renovate.json
  renovate.json
Due: prettier --write, eslint --fix

Add renovate.json
  renovate.json
Due: prettier --write, eslint --fix

Update all non-major dependencies
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

Update dependency stylelint-config-recommended-scss to v6
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

Add error pages
  src/pages/NotFoundPage.vue
  src/pages/ServerErrorPage.vue
  src/routes.ts
Due: prettier --write, eslint --fix, stylelint --fix

Bundle roboto font instead of externally fetching it
  package.json
  src/App.vue
  src/components/HeaderBanner.vue
  src/components/PageCard.vue
  src/main.ts
  src/pages/HomePage.vue
  test-results/ContactPage-ContactPage-matches-snapshot-Desktop-Chrome/ContactPage-matches-snapshot-1-actual.png
  test-results/ContactPage-ContactPage-matches-snapshot-Mobile-Safari/ContactPage-matches-snapshot-1-actual.png
  test-results/HomePage-HomePage-matches-snapshot-Desktop-Chrome/HomePage-matches-snapshot-1-actual.png
  test-results/HomePage-HomePage-matches-snapshot-Mobile-Safari/HomePage-matches-snapshot-1-actual.png
  test-results/MinecraftPage-MinecraftPage-matches-snapshot-Desktop-Chrome/MinecraftPage-matches-snapshot-1-actual.png
  test-results/MinecraftPage-MinecraftPage-matches-snapshot-Mobile-Safari/MinecraftPage-matches-snapshot-1-actual.png
  test-results/NotFoundPage-NotFoundPage-matches-snapshot-Desktop-Chrome/NotFoundPage-matches-snapshot-1-actual.png
  test-results/NotFoundPage-NotFoundPage-matches-snapshot-Mobile-Safari/NotFoundPage-matches-snapshot-1-actual.png
  test-results/PrivacyPolicyPage-PrivacyPolicyPage-matches-snapshot-Desktop-Chrome/PrivacyPolicyPage-matches-snapshot-1-actual.png
  test-results/PrivacyPolicyPage-PrivacyPolicyPage-matches-snapshot-Mobile-Safari/PrivacyPolicyPage-matches-snapshot-1-actual.png
  test-results/ResumePage-ResumePage-matches-snapshot-Desktop-Chrome/ResumePage-matches-snapshot-1-actual.png
  test-results/ResumePage-ResumePage-matches-snapshot-Mobile-Safari/ResumePage-matches-snapshot-1-actual.png
  test-results/ServerErrorPage-ServerErrorPage-matches-snapshot-Desktop-Chrome/ServerErrorPage-matches-snapshot-1-actual.png
  test-results/ServerErrorPage-ServerErrorPage-matches-snapshot-Mobile-Safari/ServerErrorPage-matches-snapshot-1-actual.png
  test-results/TermsOfServicePage-TermsOfServicePage-matches-snapshot-Desktop-Chrome/TermsOfServicePage-matches-snapshot-1-actual.png
  test-results/TermsOfServicePage-TermsOfServicePage-matches-snapshot-Mobile-Safari/TermsOfServicePage-matches-snapshot-1-actual.png
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

Fix google anayltics module
  index.html
Due: none

Fix stylelint parsing non-vue files
  .stylelintrc.json
Due: prettier --write, eslint --fix

Remove unused css
  src/pages/ContactPage.vue
Due: prettier --write, eslint --fix, stylelint --fix

Add stylelint linting for vue scss
  .lintstagedrc.json
  .stylelintrc.json
  package.json
  src/App.vue
  src/components/ButtonSection.vue
  src/components/LinkButton.vue
  src/components/PageCard.vue
  src/pages/ContactPage.vue
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

Update s3 deployment action
  .github/workflows/deploy.yml
Due: none

Add privacy policy, TOS & transition animations
  src/App.vue
  src/components/PageCard.vue
  src/pages/PrivacyPolicyPage.vue
  src/pages/TermsOfServicePage.vue
  src/routes.ts
Due: prettier --write, eslint --fix, stylelint --fix

Add pages for minecraft server info and maps
  src/components/HeaderBanner.vue
  src/pages/MinecraftMapPage.vue
  src/pages/MinecraftPage.vue
  src/routes.ts
Due: prettier --write, eslint --fix, stylelint --fix

Use MIT licence
  LICENCE
  LICENSE
Due: none

Fix iframe sizing on mobile
  src/components/HeaderBanner.vue
  src/pages/MinecraftPage.vue
  src/routes.ts
Due: prettier --write, eslint --fix, stylelint --fix

Fix transition animations
  src/App.vue
  src/components/PageCard.vue
  src/main.ts
Due: prettier --write, eslint --fix, stylelint --fix

Update README.md
  README.md
Due: none

Used fixed versions in package.json
  package.json
Due: prettier --write, eslint --fix

Add action for s3 deployment
  .github/workflows/deploy.yml
Due: none

Fix eslint not working with typescript
  .eslintrc
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

Directly use photo of me in public directory
  src/assets/me.jpg
  src/pages/HomePage.vue
Due: prettier --write, eslint --fix, stylelint --fix

Remove fontawesome js import to improve performance
  src/main.ts
Due: prettier --write, eslint --fix

Update s3 deploy action
  .github/workflows/deploy.yml
Due: none

Update all non-major dependencies to v5.21.0
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

Update deploy.yml
  .github/workflows/deploy.yml
Due: none

Prevent caching of index.html in s3 deployment
  .github/workflows/deploy.yml
Due: none

Update dependency sass to v1.51.0
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: **/*.{js,json,ts,vue,jsx,tsx}
  eslint --fix: any of: **/*.{js,json,ts,vue,jsx,tsx}
  stylelint --fix: any of: src/**/*.vue
