Repository markmetcalfe/markmetcalfe.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "**/*.{js,json,ts,vue,jsx,tsx}": ["prettier --write"],
  "**/*.{js,ts,vue,jsx,tsx}": ["eslint --fix"],
  "src/**/*.vue": ["stylelint --fix"]
}

Minor text and colour changes
  src/components/LinkButton.vue
  src/pages/BusinessCardPage.vue
  src/pages/HomePage.vue
  tests/e2e/BusinessCardPage.spec.ts-snapshots/BusinessCardPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/BusinessCardPage.spec.ts-snapshots/BusinessCardPage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/ContactPage.spec.ts-snapshots/ContactPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/ContactPage.spec.ts-snapshots/ContactPage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/HomePage.spec.ts-snapshots/HomePage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/HomePage.spec.ts-snapshots/HomePage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/PortfolioPage.spec.ts-snapshots/PortfolioPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/PortfolioPage.spec.ts-snapshots/PortfolioPage-matches-snapshot-1-Mobile-Safari-darwin.png
Due: prettier --write, eslint --fix, stylelint --fix

Update image of me
  public/me.png
  public/social-card.jpg
  src/pages/HomePage.vue
  tests/e2e/BusinessCardPage.spec.ts-snapshots/BusinessCardPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/BusinessCardPage.spec.ts-snapshots/BusinessCardPage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/HomePage.spec.ts-snapshots/HomePage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/HomePage.spec.ts-snapshots/HomePage-matches-snapshot-1-Mobile-Safari-darwin.png
Due: prettier --write, eslint --fix, stylelint --fix

Fix videos not playing properly on mobile
  src/components/DynamicBackground.vue
Due: prettier --write, eslint --fix, stylelint --fix

Remove 3D page
  src/pages/3DPage.vue
  src/pages/HomePage.vue
  src/routes.ts
Due: prettier --write, eslint --fix, stylelint --fix

Seperate font awesome icon setup from main app setup
  src/icons.ts
  src/main.ts
Due: prettier --write, eslint --fix

Use spinning octahedron for bg and remove multiple bg videos
  .eslintrc
  package.json
  pnpm-lock.yaml
  public/background/bg-1.mp4
  public/background/bg-2.mp4
  public/background/bg-3.mp4
  public/background/bg-4.mp4
  public/background/placeholder.jpg
  public/background/video.mp4
  src/3d/main.ts
  src/components/DynamicBackground.vue
  src/components/placeholder-background.ts
  src/pages/HomePage.vue
  tests/e2e/BusinessCardPage.spec.ts-snapshots/BusinessCardPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/BusinessCardPage.spec.ts-snapshots/BusinessCardPage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/ContactPage.spec.ts-snapshots/ContactPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/ContactPage.spec.ts-snapshots/ContactPage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/HomePage.spec.ts-snapshots/HomePage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/HomePage.spec.ts-snapshots/HomePage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/MinecraftPage.spec.ts-snapshots/MinecraftPage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/NotFoundPage.spec.ts-snapshots/NotFoundPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/NotFoundPage.spec.ts-snapshots/NotFoundPage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/PortfolioPage.spec.ts-snapshots/PortfolioPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/PortfolioPage.spec.ts-snapshots/PortfolioPage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/PrivacyPolicyPage.spec.ts-snapshots/PrivacyPolicyPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/PrivacyPolicyPage.spec.ts-snapshots/PrivacyPolicyPage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/ServerErrorPage.spec.ts-snapshots/ServerErrorPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/ServerErrorPage.spec.ts-snapshots/ServerErrorPage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/TermsOfServicePage.spec.ts-snapshots/TermsOfServicePage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/TermsOfServicePage.spec.ts-snapshots/TermsOfServicePage-matches-snapshot-1-Mobile-Safari-darwin.png
Due: prettier --write, eslint --fix, stylelint --fix

Overhaul three.js geometry
  src/3d/geometry.ts
  src/3d/index.ts
  src/3d/main.ts
  src/3d/renderer.ts
  src/components/DynamicBackground.vue
  src/pages/HomePage.vue
Due: prettier --write, eslint --fix, stylelint --fix

Change link colour on homepage
  src/App.vue
  src/components/LinkButton.vue
  src/pages/HomePage.vue
Due: prettier --write, eslint --fix, stylelint --fix

Update background video and colours
  public/background/placeholder.jpg
  public/background/video.mp4
  src/components/DynamicBackground.vue
  tests/e2e/BusinessCardPage.spec.ts-snapshots/BusinessCardPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/BusinessCardPage.spec.ts-snapshots/BusinessCardPage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/ContactPage.spec.ts-snapshots/ContactPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/ContactPage.spec.ts-snapshots/ContactPage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/HomePage.spec.ts-snapshots/HomePage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/HomePage.spec.ts-snapshots/HomePage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/MinecraftPage.spec.ts-snapshots/MinecraftPage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/NotFoundPage.spec.ts-snapshots/NotFoundPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/NotFoundPage.spec.ts-snapshots/NotFoundPage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/PortfolioPage.spec.ts-snapshots/PortfolioPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/PortfolioPage.spec.ts-snapshots/PortfolioPage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/PrivacyPolicyPage.spec.ts-snapshots/PrivacyPolicyPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/PrivacyPolicyPage.spec.ts-snapshots/PrivacyPolicyPage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/ServerErrorPage.spec.ts-snapshots/ServerErrorPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/ServerErrorPage.spec.ts-snapshots/ServerErrorPage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/TermsOfServicePage.spec.ts-snapshots/TermsOfServicePage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/TermsOfServicePage.spec.ts-snapshots/TermsOfServicePage-matches-snapshot-1-Mobile-Safari-darwin.png
Due: prettier --write, eslint --fix, stylelint --fix

Update instagram link playwright test
  tests/e2e/PortfolioPage.spec.ts
Due: prettier --write, eslint --fix

Exclusivley use new polyhedron shape for background
  .eslintrc
  index.html
  public/background/placeholder.jpg
  public/background/video.mp4
  public/social-card.jpg
  src/3d/geometry.ts
  src/3d/renderer.ts
  src/components/DynamicBackground.vue
  tests/e2e/BusinessCardPage.spec.ts-snapshots/BusinessCardPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/BusinessCardPage.spec.ts-snapshots/BusinessCardPage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/ContactPage.spec.ts-snapshots/ContactPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/ContactPage.spec.ts-snapshots/ContactPage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/HomePage.spec.ts-snapshots/HomePage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/HomePage.spec.ts-snapshots/HomePage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/MinecraftPage.spec.ts-snapshots/MinecraftPage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/NotFoundPage.spec.ts-snapshots/NotFoundPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/NotFoundPage.spec.ts-snapshots/NotFoundPage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/PortfolioPage.spec.ts-snapshots/PortfolioPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/PortfolioPage.spec.ts-snapshots/PortfolioPage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/PrivacyPolicyPage.spec.ts-snapshots/PrivacyPolicyPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/PrivacyPolicyPage.spec.ts-snapshots/PrivacyPolicyPage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/ServerErrorPage.spec.ts-snapshots/ServerErrorPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/ServerErrorPage.spec.ts-snapshots/ServerErrorPage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/TermsOfServicePage.spec.ts-snapshots/TermsOfServicePage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/TermsOfServicePage.spec.ts-snapshots/TermsOfServicePage-matches-snapshot-1-Mobile-Safari-darwin.png
Due: prettier --write, eslint --fix, stylelint --fix

Update instagram link
  src/pages/PortfolioPage.vue
Due: prettier --write, eslint --fix, stylelint --fix

Dedicated settings page for playing around with sphere
  package.json
  pnpm-lock.yaml
  src/3d/renderer.ts
  src/components/DynamicBackground.vue
  src/components/LinkButton.vue
  src/icons.ts
  src/main.ts
  src/pages/DemoPage.vue
  src/pages/HomePage.vue
  src/routes.ts
  src/stores/renderer-settings.ts
  tests/e2e/BusinessCardPage.spec.ts-snapshots/BusinessCardPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/BusinessCardPage.spec.ts-snapshots/BusinessCardPage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/ContactPage.spec.ts-snapshots/ContactPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/ContactPage.spec.ts-snapshots/ContactPage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/DemoPage.spec.ts
  tests/e2e/DemoPage.spec.ts-snapshots/DemoPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/DemoPage.spec.ts-snapshots/DemoPage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/HomePage.spec.ts
  tests/e2e/HomePage.spec.ts-snapshots/HomePage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/HomePage.spec.ts-snapshots/HomePage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/MinecraftPage.spec.ts-snapshots/MinecraftPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/MinecraftPage.spec.ts-snapshots/MinecraftPage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/NotFoundPage.spec.ts-snapshots/NotFoundPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/NotFoundPage.spec.ts-snapshots/NotFoundPage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/PortfolioPage.spec.ts-snapshots/PortfolioPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/PortfolioPage.spec.ts-snapshots/PortfolioPage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/PrivacyPolicyPage.spec.ts-snapshots/PrivacyPolicyPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/PrivacyPolicyPage.spec.ts-snapshots/PrivacyPolicyPage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/ServerErrorPage.spec.ts-snapshots/ServerErrorPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/ServerErrorPage.spec.ts-snapshots/ServerErrorPage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/TermsOfServicePage.spec.ts-snapshots/TermsOfServicePage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/TermsOfServicePage.spec.ts-snapshots/TermsOfServicePage-matches-snapshot-1-Mobile-Safari-darwin.png
Due: prettier --write, eslint --fix, stylelint --fix

Add follow cursor and zoom settings for sphere
  src/3d/renderer.ts
  src/pages/DemoPage.vue
  src/stores/renderer-settings.ts
  tests/e2e/DemoPage.spec.ts-snapshots/DemoPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/DemoPage.spec.ts-snapshots/DemoPage-matches-snapshot-1-Mobile-Safari-darwin.png
Due: prettier --write, eslint --fix, stylelint --fix

Add fullscreen button
  src/pages/DemoPage.vue
  tests/e2e/DemoPage.spec.ts-snapshots/DemoPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/DemoPage.spec.ts-snapshots/DemoPage-matches-snapshot-1-Mobile-Safari-darwin.png
Due: prettier --write, eslint --fix, stylelint --fix

Allow viewing 3d settings on mobile
  src/pages/DemoPage.vue
  src/pages/HomePage.vue
  src/variables.scss
  tests/e2e/DemoPage.spec.ts-snapshots/DemoPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/DemoPage.spec.ts-snapshots/DemoPage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/HomePage.spec.ts
  tests/e2e/HomePage.spec.ts-snapshots/HomePage-matches-snapshot-1-Mobile-Safari-darwin.png
Due: prettier --write, eslint --fix, stylelint --fix

Move more renderer logic into store
  src/3d/renderer.ts
  src/pages/DemoPage.vue
  src/stores/renderer-settings.ts
Due: prettier --write, eslint --fix, stylelint --fix

Add button for tapping to beat match bpm
  src/3d/renderer.ts
  src/pages/DemoPage.vue
  src/stores/renderer-settings.ts
  tests/e2e/DemoPage.spec.ts-snapshots/DemoPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/DemoPage.spec.ts-snapshots/DemoPage-matches-snapshot-1-Mobile-Safari-darwin.png
Due: prettier --write, eslint --fix, stylelint --fix

Move geometry settings config into store
  src/3d/geometry.ts
  src/3d/renderer.ts
  src/stores/renderer-settings.ts
  tests/e2e/DemoPage.spec.ts-snapshots/DemoPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/DemoPage.spec.ts-snapshots/DemoPage-matches-snapshot-1-Mobile-Safari-darwin.png
Due: prettier --write, eslint --fix

Support resetting threejs scene via store
  src/3d/renderer.ts
  src/stores/renderer-settings.ts
Due: prettier --write, eslint --fix

Use isMobile() function instead of viewport checks for logic
  src/pages/DemoPage.vue
  src/stores/renderer-settings.ts
  src/variables.scss
Due: prettier --write, eslint --fix, stylelint --fix

Add google search keywords in meta tag
  index.html
Due: none

Add robots.txt to prevent resume appearing in google search
  public/robots.txt
Due: none

Add popup modal for configuring object geometry attributes
  src/3d/geometry.ts
  src/3d/renderer.ts
  src/components/GeometryConfig.vue
  src/icons.ts
  src/main.ts
  src/pages/DemoPage.vue
  src/stores/renderer-settings.ts
  tests/e2e/DemoPage.spec.ts
  tests/e2e/DemoPage.spec.ts-snapshots/DemoPage-can-open-geometry-definitions-dialog-and-it-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/DemoPage.spec.ts-snapshots/DemoPage-can-open-geometry-definitions-dialog-and-it-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/DemoPage.spec.ts-snapshots/DemoPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/DemoPage.spec.ts-snapshots/DemoPage-matches-snapshot-1-Mobile-Safari-darwin.png
Due: prettier --write, eslint --fix, stylelint --fix

Add option for making geometry solid instead of mesh
  src/3d/geometry.ts
  src/3d/renderer.ts
  src/components/GeometryConfig.vue
  src/stores/renderer-settings.ts
  tests/e2e/DemoPage.spec.ts-snapshots/DemoPage-can-open-geometry-definitions-dialog-and-it-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/DemoPage.spec.ts-snapshots/DemoPage-can-open-geometry-definitions-dialog-and-it-matches-snapshot-1-Mobile-Safari-darwin.png
Due: prettier --write, eslint --fix, stylelint --fix

Add additional cube and sphere geometry types
  src/3d/geometry.ts
Due: prettier --write, eslint --fix

Fix failing playwright tests
  src/pages/ContactPage.vue
  tests/e2e/ContactPage.spec.ts
  tests/e2e/MinecraftPage.spec.ts-snapshots/MinecraftPage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/PortfolioPage.spec.ts
Due: prettier --write, eslint --fix, stylelint --fix

Use most recent compatible versions for npm packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

Recenter geometry when follow cursor is off
  src/3d/renderer.ts
  src/stores/renderer-settings.ts
Due: prettier --write, eslint --fix

Add random auto zoom mode
  src/3d/geometry.ts
  src/components/GeometryConfig.vue
  src/pages/DemoPage.vue
  src/stores/renderer-settings.ts
  tests/e2e/DemoPage.spec.ts-snapshots/DemoPage-can-open-geometry-definitions-dialog-and-it-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/DemoPage.spec.ts-snapshots/DemoPage-can-open-geometry-definitions-dialog-and-it-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/DemoPage.spec.ts-snapshots/DemoPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/DemoPage.spec.ts-snapshots/DemoPage-matches-snapshot-1-Mobile-Safari-darwin.png
Due: prettier --write, eslint --fix, stylelint --fix

Allow adding and deleting geometry definitions
  package.json
  pnpm-lock.yaml
  src/components/GeometryConfig.vue
  src/icons.ts
  src/main.ts
  src/stores/renderer-settings.ts
  tests/e2e/DemoPage.spec.ts-snapshots/DemoPage-can-open-geometry-definitions-dialog-and-it-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/DemoPage.spec.ts-snapshots/DemoPage-can-open-geometry-definitions-dialog-and-it-matches-snapshot-1-Mobile-Safari-darwin.png
Due: prettier --write, eslint --fix, stylelint --fix

Add settings for setting rotation speed of geometry
  src/pages/DemoPage.vue
  src/stores/renderer-settings.ts
  tests/e2e/DemoPage.spec.ts-snapshots/DemoPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/DemoPage.spec.ts-snapshots/DemoPage-matches-snapshot-1-Mobile-Safari-darwin.png
Due: prettier --write, eslint --fix, stylelint --fix

Add 4/4 Jump auto zoom option
  src/stores/renderer-settings.ts
Due: prettier --write, eslint --fix

Use svg favicon
  index.html
  public/favicon.png
  public/favicon.svg
Due: none

Add insta links in index.html
  index.html
  src/pages/DemoPage.vue
Due: prettier --write, eslint --fix, stylelint --fix

Update resume
  public/Mark-Metcalfe-Resume.pdf
Due: none

Update colours
  index.html
Due: none

Update package versioning
  package.json
  pnpm-lock.yaml
  tests/e2e/DemoPage.spec.ts-snapshots/DemoPage-can-open-geometry-definitions-dialog-and-it-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/DemoPage.spec.ts-snapshots/DemoPage-can-open-geometry-definitions-dialog-and-it-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/DemoPage.spec.ts-snapshots/DemoPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/DemoPage.spec.ts-snapshots/DemoPage-matches-snapshot-1-Mobile-Safari-darwin.png
  tests/e2e/MinecraftPage.spec.ts-snapshots/MinecraftPage-matches-snapshot-1-Desktop-Firefox-darwin.png
  tests/e2e/MinecraftPage.spec.ts-snapshots/MinecraftPage-matches-snapshot-1-Mobile-Safari-darwin.png
Due: prettier --write
